<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/icons.css">
    <title>Document</title>
</head>
<body>
    <div class="header1">
        <h3 class="main-title">Icons Valley</h3>
        <div class="buttons">
            <button class="selected-button"><a href="../static/background/icons.html">Icons</a></button>
            <button><a href="login/">Login</a></button>
            <button><a href="registration/">Registration</a></button>
        </div>
    </div>
    <div class="header2">
        <form class="icon-category-select" action="" method="POST">
            {% csrf_token %}
            <select name="select">
                <option selected value="Icon packs">Icon packs</option>
                <option value="Communication">Communication</option>
                <option value="Food">Food</option>
                <option value="Social & People">Social & People</option>
                <option value="Weather">Weather</option>
            </select>
            <button class="search_button1" type="submit">✅</button>
        </form>
        <form class="search" action='' method="POST">
            {% csrf_token %}
            <input class="serachfiled" name="subject_matter">
            <button class="search_button" type="submit">Find</button>
        </form>

        <div class="button-block">
            <button class="selected-button">All</button>
            <button>Black</button>
            <button>Color</button>
            <button>Gradient</button>
        </div>
    </div>
    <div class="icons">
        {% for icon in icons %}
            <div class="icon-desc">
                <img class="icon" src="{{ icon.icon.url }}">
            </div>
        {% endfor %}
    </div>
</body>
</html>