<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/icons.css">
    <title>Document</title>
</head>
<body>
    <div class="header1">
        <h3 class="main-title">Icons Valley</h3>
        <div class="buttons">
            <button class="selected-button"><a href="../static/background/icons.html">Icons</a></button>
            <button><a href="login/">Login</a></button>
            <button><a href="registration/">Registration</a></button>
        </div>
    </div>
    <div class="header2">
        <select class="icon-category-select">
            <option selected>Icon packs</option>
            <option>Communication</option>
            <option>Food</option>
            <option>Social & People</option>
            <option>Weather</option>
        </select>
        <input class="search" type="text" formmethod="post" placeholder="Search icons...">
        <div class="button-block">
            <button class="selected-button">All</button>
            <button>Black</button>
            <button>Color</button>
            <button>Gradient</button>
        </div>
    </div>
    <div class="icons">
        {% for icon in icons %}
            <div class="icon-desc">
                <img class="icon" src="{{ icon.icon.url }}">
            </div>
        {% endfor %}
    </div>
</body>
</html>